<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>SemRand - Centros Cuadarados</title>
    <link rel="stylesheet" href="css/generators.css">
  </head>
  <body>
    <div class="app-container">
      <header>
        <div class="navigation-buttons">
          <a class="button is-primary" href="about.html">About</a>
          <a class="button is-primary is-active" href="mcc.html">MCC</a>
          <a class="button is-primary" href="mc.html">MC</a>
          <a class="button is-primary" href="mcm.html">MCM</a>
          <a class="button is-primary" href="gm.html">GM</a>
          <a class="button is-primary" href="mclc.html">MCLC</a>
        </div>
      </header>
      <div class="main">
        <!-- Main content of the generator-->
        <div class="content-container">
          <div class="generator-content">
            <div class="section" id="input-content">
              <div class="section-name">C&aacute;lculo</div>
              <h1 class="is-title">Método de los Centros Cuadrados</h1>
              <p class="is-description">
                Fórmula:</br>
                <strong>X(n+1)=(Xi)^2. Tomar 4 dígitos centrales.</strong>
              </p>
              <p id='input-form-error' class='is-error-msg'></p>
              <form class="input-form" id="form-inputs">
                <div class="is-field">
                  <label for="x0">Semilla Xo:</label>
                  <input type="number" name="x0" id="x0-input" required>
                </div>
                <div class="is-field">
                  <label for="interations">N&uacute;mero de iteraciones:</label>
                  <input type="number" name="i" id="i-input" required>
                </div>
                <div class="is-button">
                  <input type="submit" value="Generar" class="button is-primary">
                </div>
              </form>
            </div>
            <div class="section" id="table-content">
              <h1 class="section-name">Resultados</h1>
              <div class="table-container is-header">
                <table>
                  <thead>
                    <tr>
                      <th>Semilla</th>
                      <th>Generador</th>
                      <th>No. Aleatorio</th>
                      <th>Random Ri</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="table-container">
                <table>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>TC2007 | Métodos Cuantitativos y Simulación | Proyecto 1 | Equipo #3</footer>
    </div>
    <script src="../models/mcc.js"></script>
    <script src="../viewmodels/mcc_viewmodel.js"></script>
  </body>
</html>
