<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>SemRand - Congruencial Lineal Combinado</title>
    <link rel="stylesheet" href="css/generators.css">
  </head>
  <body>
    <div class="app-container">
      <header>
        <div class="navigation-buttons">
          <a class="button is-primary" href="about.html">About</a>
          <a class="button is-primary" href="mcc.html">MCC</a>
          <a class="button is-primary" href="mc.html">MC</a>
          <a class="button is-primary" href="mcm.html">MCM</a>
          <a class="button is-primary" href="gm.html">GM</a>
          <a class="button is-primary is-active" href="mclc.html">MCLC</a>
        </div>
      </header>
      <div class="main">
        <!-- Main content of the generator-->
        <div class="content-container">
          <div class="generator-content">
            <div class="section" id="input-content">
              <div class="section-name">C&aacute;lculo</div>
              <h1 class="is-title">Método de los Centros Cuadrados</h1>
              <p class="is-description">Descripcion con el metodo, explicacion, etc.</p>
              <form class="input-form" id="form-inputs">
                <div class="is-field">
                  <label for="seed">Semilla Xo:</label>
                  <input type="number" name="seed" id="seed-input" required>
                </div>
                <div class="is-field">
                  <label for="interations">N&uacute;mero de iteraciones:</label>
                  <input type="number" name="iterations" id="iterations-input" required>
                </div>
                <div class="is-button">
                  <input type="submit" value="Generar" class="button is-primary">
                </div>
              </form>
            </div>
            <div class="section" id="table-content">
              <h1 class="section-name">Resultados</h1>
              <div class="table-container is-header">
                <table>
                  <tr>
                    <th>Column</th>
                    <th>Column</th>
                    <th>Column</th>
                    <th>Column</th>
                    <th>Column</th>
                  </tr>
                </table>
              </div>
              <div class="table-container">
                <table>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                  <tr>
                    <th>Xn</th>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                    <td>Val</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="section" id="tests-content">
              <h1 class="section-name">Pruebas</h1>
              <div class="tests-container">
                <div class="tests-buttons">
                  <form class="input-form" id="form-tests">
                    <div class="is-field">
                      <label>Alpha:</label>
                      <div class="is-field-inline">
                        <div class="is-field">
                          <label for="ten-alpha">0.1</label>
                          <input type="radio" id="ten-alpha" name="ten-alpha" value="0.1">
                        </div>
                        <div class="is-field">
                          <label for="five-alpha">0.05</label>
                          <input type="radio" id="five-alpha" name="five-alpha" value="0.05">
                        </div>
                        <div class="is-field">
                          <label for="two-alpha">0.02</label>
                          <input type="radio" id="two-alpha" name="two-alpha" value="0.025">
                        </div>
                        <div class="is-field">
                          <label for="one-alpha">0.01</label>
                          <input type="radio" id="one-alpha" name="one-alpha" value="0.01">
                        </div>
                      </div>
                    </div>
                    <div class="is-field-inline">
                      <input type="checkbox" name="chi-sq" id="chi-sq-input">
                      <label for="chi-sq">Prueba de Chi-cuadrada</label>
                    </div>
                    <div class="is-field-inline">
                      <input type="checkbox" name="kol-smi" id="kol-smi-input">
                      <label for="kol-smi">Prueba de Kolmogorov-Smirnov</label>
                    </div>
                    <div class="is-button">
                      <input type="submit" value="Ejecutar Pruebas" class="button is-primary">
                    </div>
                  </form>
                </div>
                <div class="tests-results">
                  <div class='test-result-container'>
                    <h1 class="is-subtitle">Titulo de la accion tomada</h1>
                    <p class="is-description">
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                    </p>
                  </div>
                  <div class='test-result-container'>
                    <h1 class="is-subtitle">Titulo de la accion tomada</h1>
                    <p class="is-description">
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                      Text of the result from the action taken.
                    </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <footer>TC2007 | Métodos Cuantitativos y Simulación | Proyecto 1 | Equipo #3</footer>
    </div>
    <script src="../viewmodels/mclc_viewmodel.js"></script>
  </body>
</html>
