<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>SemRand - Congruencial Lineal Combinado</title>
    <link rel="stylesheet" href="css/generators.css">
  </head>
  <body>
    <div class="app-container">
      <header>
        <div class="navigation-buttons">
          <a class="button is-primary" href="about.html">About</a>
          <a class="button is-primary" href="mcc.html">MCC</a>
          <a class="button is-primary" href="mc.html">MC</a>
          <a class="button is-primary" href="mcm.html">MCM</a>
          <a class="button is-primary" href="gm.html">GM</a>
          <a class="button is-primary is-active" href="mclc.html">MCLC</a>
        </div>
      </header>
      <div class="main">
        <!-- Main content of the generator-->
        <div class="content-container">
          <div class="generator-content">
            <div class="section" id="input-content">
              <div class="section-name">C&aacute;lculo</div>
              <h1 class="is-title">Método Congruencial Lineal Combinado</h1>
              <p class="is-description">Combinación de dos o más generadores congruentes multiplicativos.</p>
              <p id='input-form-error' class='is-error-msg'></p>
              <form class="input-form" id="form-inputs">
                <div class="is-field">
                  <label for="seed1">Semilla X1:</label>
                  <input type="number" name="seed1" id="seed1-input" required>
                </div>
                <div class="is-field">
                  <label for="seed2">Semilla X2:</label>
                  <input type="number" name="seed2" id="seed2-input" required>
                </div>
                <div class="is-field-inline">
                  <label for="a1">a1:</label>
                  <input type="number" name="a1" id="a1-input" required>
                </div>
                <div class="is-field-inline">
                  <label for="a2">a2:</label>
                  <input type="number" name="a2" id="a2-input" required>
                </div>
                <div class="is-field-inline">
                  <label for="m1">m1:</label>
                  <input type="number" name="m1" id="m1-input" required>
                </div>
                <div class="is-field-inline">
                  <label for="m2">m2:</label>
                  <input type="number" name="m2" id="m2-input" required>
                </div>
                <div class="is-field-inline">
                  <label for="m">m:</label>
                  <input type="number" name="m" id="m-input" required>
                </div>
                <div class="is-field">
                  <label for="interations">N&uacute;mero de iteraciones:</label>
                  <input type="number" name="i" id="i-input" required>
                </div>
                <div class="is-button">
                  <input type="submit" value="Generar" class="button is-primary">
                </div>
              </form>
            </div>
            <div class="section" id="table-content">
              <h1 class="section-name">Resultados</h1>
              <div class="table-container is-header">
                <table>
                  <thead>
                    <tr>
                      <th>Sem. X</th>
                      <th>Sem. Y</th>
                      <th>X1</th>
                      <th>X2</th>
                      <th>X</th>
                      <th>Random Ri</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="table-container">
                <table>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <footer>TC2007 | Métodos Cuantitativos y Simulación | Proyecto 1 | Equipo #3</footer>
    </div>
    <script src="../models/mclc.js"></script>
    <script src="../viewmodels/mclc_viewmodel.js"></script>
  </body>
</html>
