@import "main.css";

.main {
  display: grid;
  place-items: center;
}

.content-container {
  display: grid;
  grid-template-rows: 50vh 30vh;
  grid-gap: 1rem;
  height: 100%;
  width: 80vw;
}

.generator-content {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
  grid-gap: 1rem;
}

.section {
  border-width: 2px;
  border-style: solid;
  border-color: var(--primary-color);
}

.section-name {
  margin: 4px 8px;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--primary-color);
}

.input-form {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  width: 100%;
}

.input-form .is-field {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.2rem;
  padding: 0 8px;
}

.input-form input { 
  min-height: 22px;
}

.input-form .is-field-inline {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  padding: 0 8px;
}

.input-form .is-button {
  display: grid;
  place-items: center;
}

#form-inputs {
  margin-top: 8px;
}

#table-content {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 50vh;
}

.table-container {
  margin: 0 16px;
  margin-bottom: 8px;
  overflow-y: auto;
}

.table-container.is-header {
  margin-top: 8px;
  margin-bottom: 0;
}

.table-container.is-header table {
  border-collapse: separate;
  border: 1px solid var(--text-color);
}

.table-container table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid var(--text-color);
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  word-wrap: break-word;
  border: 1px solid var(--text-color);
  text-align: center;
}

#tests-content {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 30vh;
}

.tests-container {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
  grid-gap: 1rem;
}

.tests-buttons {
  display: grid;
  place-items: center;
  padding-bottom: 8px;
}

.tests-buttons .button {
  text-decoration: none;
}

.tests-results {
  display: grid;
  padding: 8px 16px;
  padding-top: 0;
  height: 25vh;
  overflow-y: auto;
}

.test-result-container {
  border: 1px solid;
  margin-bottom: 20px;
}

.test-result-container p {
  padding-right: 4px;
  margin-right: 4px;
}

.is-error-msg {
  margin: 0 8px;
  color: var(--primary-color);
  font-size: 0.8em;
  max-height: 20px;
}

.is-valid {
  color: green;
}

.is-not-valid {
  color: var(--primary-color);
}
